h1 {
	text-align: center;
}

.outerBar {
	width: 100%;
}

#navbar {
	margin: 10px auto;
	max-width: 200px;
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	padding: 10px;
}

#game {
	flex-wrap: wrap;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.row {
	list-style: none;
	width: 240px;
	height: 220px;
	padding: 0px;
	margin-left: 10px;
}

.square {
	float: left;
	width: 45px;
	height: 45px;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 1px solid black;
	float: left;
	text-align: center;
	line-height: 45px;
	box-sizing: border-box;
	font-size: 30px;
}

.playing:hover {
	background-color: blue;
}

.selected {
	background-color: blue;
}

.sideBox {
	border: 1px solid black;
	width: 150px;
	margin: 10px;
}

.sideBox ul {
	list-style: none;
	margin-top: 5px;
	padding-top: 0px;
	padding-left: 5px;
}

.sideBox h4 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}

.runningOutOfTime {
	color: red;
}

.messages {
	width: 100%;
	/*height: 10px;*/
	border: 1px solid black;
	text-align: center;
}

.timer {
	width: 50px;
	border: 1px solid black;
	height: 100%;
	margin: 0px;
	font-size: 20px;
	text-align: center;
}