h1, h4 {
	text-align: center;
}
* {
font-family: 'Arvo', serif;
}
body {
	background-image: url("http://www.eonline.com/eol_images/Entire_Site/201475/rs_560x415-140805131610-1024-scrabble-tiles.ls.8514.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.outerBar {
	width: 100%;
}

#navbar {
	margin: 10px auto;
	max-width: 240px;
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	padding: 10px;
}

#game {
	flex-wrap: wrap;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.row {
	list-style: none;
	width: 240px;
	height: 240px;
	padding: 0px;
	margin-left: 10px;
}

.square {
	color: black;
	float: left;
	width: 45px;
	height: 45px;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 1px solid black;
	float: left;
	text-align: center;
	line-height: 45px;
	box-sizing: border-box;
	font-size: 30px;
	box-shadow: 2px 2px gray;
	background-color: #;
}

.flip {
	transform: rotateY(270deg);
	transition: transform 3s;
}

.playing:hover {
	background-color: #40B1D6;
}

.selected {
	background-color: #40B1D6;
}

.sideBox {
	border: 1px solid black;
	width: 150px;
	margin: 10px;
	max-height: 400px;
}

.sideBox ul {
	list-style: none;
	margin-top: 5px;
	padding-top: 0px;
	padding-left: 5px;
}

.sideBox h4 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}

.runningOutOfTime {
	color: red;
}

.messages {
	width: 240px;
	text-align: center;
	min-height: 40px;
	font-weight: bold;
}

.timer {
	width: 150px;
	height: 100%;
	margin: 0px;
	font-size: 20px;
}

.gameOver {
	background-color: #178F53;
}

.instructions {
	display: flex;
	justify-content: center;
}

.listInstructions {
	list-style: none;
	justify-content: center;
	width: 400px;
}

.wordJumble {
	background-color: #FFF9E3;
}

button {
	width: 150px;
  border-radius: 3px;
  font-size: 14px;
}
